{% load static %}
{% include 'admin/adminheader.html' %}



<div class="content-wrapper" >
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>View Services- {{service.service_name}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          <a href="{% url 'service_details' %}" class="btn btn-outline-success"> 
              <i class="fas fa-arrow-left"></i> Back
            </a>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline card-success">
            <div class="card-body" >
              <h3></h3>
              <table class="table table-bordered table-sm">
                <tbody>
                    <tr>
                      <th scope="row">Sl No</th>
                      <td>{{ service.id }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Photo</th>
                    <td><img src="{{ service.image.url }}" alt="Client Photo" style="width: 100px; height: auto;"></td>
                </tr>  
                      <tr>
                          <th scope="row">Service Name</th>
                          <td>{{service.service_name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">URL Name</th>
                        <td>{{service.url_name}}</td>
                    </tr>
                      <tr>
                          <th scope="row">Short Content</th>
                          <td>{{service.short_content}}</td>
                      </tr>
                      <tr>
                          <th scope="row">Long Content</th>
                          <td>{{service.long_content}}</td>
                      </tr>                    
                  </tbody>
            </table>
            
            <br>
              <!-- Add other fields as needed -->

              <!-- Example of buttons for editing and deleting -->
              <a href="{% url 'edit_service' service.id %}" class="btn btn-info">
                <i class="fas fa-edit"></i> Edit
              </a>
              <a href="{% url 'delete_service' service.id %}" class="btn btn-danger">
                <i class="fas fa-trash"></i> Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

{% include 'admin/adminfooter.html' %}
